.navbar {
  background-color: var(--primary-color);
  font-size: 18px;
  line-height: 1.5;
}

.navbar.scrolled {
  opacity: 0.8;
}

.navbar-toggler-icon {
  filter: invert(1);
}

.navbar-collapse {
  transition: height 300ms ease-in-out;
}

.nav-link {
  opacity: 0.6;
  color: rgb(245, 245, 245);
  margin: 0px 15px 0 10px;
}

.name-navbar {
  color: rgb(245, 245, 245);
  font-size: 20px;
  margin-top: -1px;
}

.navbar .nav-link.active {
  color: rgb(245, 245, 245);
  opacity: 1;
  font-weight: 600;
}

.nav-link:hover {
  color: rgb(245, 245, 245);
  opacity: 1;
}
